@model OcdlogisticsSolution.DomainModels.Models.Entity_Models.Tbl_ContactUs
@{
    ViewBag.Title = "EditContact";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
     //"~/Views/Shared/_OcdLogisticsLayout.cshtml";
}

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Subheader-->
    <!--end::Subheader-->
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            @*@if (ViewBag.error != null)
                {
                    <div class="alert alert-success alert-dismissable">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> @ViewBag.error</strong>
                    </div>
                }*@
            <div class="row">
                <div class="col-lg-12">
                    <!--begin::Card-->
                    <div class="card card-custom gutter-b example-compact">
                        <div class="card-header">
                            <h3 class="card-title">ContactUs Page</h3>

                        </div>
                        <!--begin::Form-->
                        @using (Html.BeginForm("EditContact", "Contact", new { area = "admin" }, FormMethod.Post, new { @class = "form", enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="card-body">
                                <div class="form-group row">
                                    <div class="col-lg-6">
                                        @Html.Label("Heading")
                                        @Html.TextBoxFor(m => m.Heading, new { @class = "form-control", placeholder = "Heading" })
                                        @Html.ValidationMessageFor(m => m.Heading, "", new { @class = "text-danger" })
                                    </div>


                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-12">
                                        @Html.Label("Content")
                                        @Html.TextAreaFor(m => m.Contents, new { @class = "form-control", placeholder = "Content",@rows="10"})
                                        @Html.ValidationMessageFor(m => m.Contents, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label">Banner Image</label>
                                    <div class="col-lg-9 col-xl-9">
                                        <div class="image-input image-input-outline" id="kt_image_4" style="height:300px;width: 100%">
                                            <div class="image-input-wrapper" style="background-image: url(/Assets/images/Noimage1024x512.png);height:300px;width:100%"></div>
                                            <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Change avatar">
                                                <i class="fa fa-pen icon-sm text-muted"></i>
                                                <input type="file" name="image1" accept=".png, .jpg, .jpeg" />
                                                <input type="hidden" name="profile_avatar_remove" />
                                            </label>
                                            <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="cancel" data-toggle="tooltip" title="Cancel avatar">
                                                <i class="ki ki-bold-close icon-xs text-muted"></i>
                                            </span>

                                        </div>
                                        <span class="form-text text-muted">Allowed file types: png, jpg, jpeg. Image Size must be 1920 x 700</span>
                                    </div>
                                    <label class="col-xl-3 col-lg-3 col-form-label">Body Image</label>
                                    <div class="col-lg-9 col-xl-9">
                                        <div class="image-input image-input-outline" id="kt_image_3" style="height:300px;width: 100%">
                                            <div class="image-input-wrapper" style="background-image: url(/Assets/images/Noimage1024x512.png);height:300px;width:100%"></div>
                                            <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Change avatar">
                                                <i class="fa fa-pen icon-sm text-muted"></i>
                                                <input type="file" name="image2" accept=".png, .jpg, .jpeg" />
                                                <input type="hidden" name="profile_avatar_remove" />
                                            </label>
                                            <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="cancel" data-toggle="tooltip" title="Cancel avatar">
                                                <i class="ki ki-bold-close icon-xs text-muted"></i>
                                            </span>

                                        </div>
                                        <span class="form-text text-muted">Allowed file types: png, jpg, jpeg. Image Size must be 1920 x 700</span>
                                    </div>

                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <button type="submit" class="btn btn-primary mr-2">Update</button>
                                    </div>

                                </div>
                            </div>
                        }
                        <!--end::Form-->
                    </div>
                </div>
            </div>
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
</div>

