@model OcdlogisticsSolution.Web.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";

}
    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
            <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
                <div class="d-flex align-items-center flex-wrap mr-1">
                    <div class="d-flex align-items-baseline mr-5">
                        <h5 class="text-dark font-weight-bold my-2 mr-5">Change Password</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column-fluid">
            <div class="container">
                @*@if (ViewBag.error != null)
                {
                    <div class="alert alert-success alert-dismissable">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> @ViewBag.error</strong>
                    </div>
                }*@
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card card-custom gutter-b example-compact">
                            <div class="card-header">
                                <h3 class="card-title">Change Password</h3>
                            </div>
                            <!--begin::Form-->
                            @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="card-body">
                                    <div class="form-group row">
                                        <div class="col-lg-6">
                                            @Html.LabelFor(m => m.OldPassword)
                                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", placeholder = "Current Password*" })

                                            @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-lg-6">
                                            @Html.LabelFor(m => m.NewPassword)

                                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "New Password*" })
                                            @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-lg-6">
                                            @Html.LabelFor(m => m.ConfirmPassword)

                                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password*" })
                                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                                        </div>

                                    </div>

                                </div>
                                <div class="card-footer">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <button type="submit" class="btn btn-primary mr-2">Update</button>
                                        </div>

                                    </div>
                                </div>
                            }
                            <!--end::Form-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

